<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
            name="description"
            content="<%= SEO.description %>"
    />
    <meta
            name="keywords"
            content="<%= SEO.keywords %>"
    />
    <!--    Open graph -->
    <meta property="og:url" content="<%= SEO.canonicalURL %>" />
    <meta property="og:type" content="message/news" />
    <meta property="og:title" content="<%= SEO.title %>" />
    <meta
            property="og:description"
            content="<%= SEO.description %>"
    />
    <meta property="og:image" content="https://technowomen.kg/logo.svg" />

    <!--    Twitter -->
    <meta name="twitter:card" content="<%= SEO.image %>" />
    <meta property="twitter:domain" content="technowomen.kg" />
    <meta property="twitter:url" content="<%= SEO.canonicalURL %>" />
    <meta name="twitter:title" content="<%= SEO.title %>" />
    <meta
            name="twitter:description"
            content="<%= SEO.description %>"
    />
    <meta name="twitter:image" content="<%= SEO.image %>" />
    <title><%= SEO.title %></title>

    <%- include('../../partials/headMedia') %>
</head>


<body>
  <header class="header"><%- include('../../partials/header') %></header>

  <main class="main">
    <section class="main__history">
      <div class="container">
        <h2 class="main__history-title">История</h2>
        <!-- Каждый ключ с размекой HTML оборачивай в класс "md" -->
        <div class="md">
            <%- data.data.Content %>

<!--          <p class="main__history-text1">-->
<!--            Некоммерческая организация Techno Women – первая организация женщин,-->
<!--            работающих в технологических индустриях: IT, digital, телеком, новых-->
<!--            медиа, Fintech, Edutech, Healthtech, Biotech, Ecotech, Nanotech,-->
<!--            Robotics,<br />-->
<!--            космической и других высокотехнологических индустриях.-->
<!--            Некоммерческая организация Techno Women зарегистрирована 6 мая 2022-->
<!--            года в Международном финансовом центре «Астана». Миссия TECHNOWOMEN-->
<!--            – открывать новый возможности для девочек и женщин в цифровом мире.-->
<!--            Видение TECHNOWOMEN – развитие международной сети сообществ-->
<!--            прогрессивных женщин в Центральной Азии, которые способствуют-->
<!--            трансформации общества, продвижению гендерного равенства, честной-->
<!--            конкуренции, применению передовых технологий, развития цифровой-->
<!--            культуры и воспитания высокообразованного, духовно богатого и-->
<!--            социально-ответственного нового поколения. Цель Techno Women –-->
<!--            Увеличить количество девушек и женщин, работающих в технологических-->
<!--            индустриях, способствовать развитию женского предпринимательства и-->
<!--            формированию нового класса прогрессивных женщин в Центральной Азии.-->
<!--          </p>-->
<!--          <p class="main__history-text1">ЗАДАЧИ Techno Women:</p>-->
<!--          <ol class="main__history-list">-->
<!--            <li class="history-list-item">-->
<!--              Развивать профессиональное сообщество женщин, работающих в-->
<!--              технологических индустриях.-->
<!--            </li>-->
<!--            <li class="history-list-item">-->
<!--              Способствовать обучению девочек и девушек STEM дисциплинам,-->
<!--              программированию, робототехнике и вовлекать в научную-->
<!--              деятельность, а также в технологические отрасли и цифровизацию.-->
<!--            </li>-->
<!--            <li class="history-list-item">-->
<!--              Разрабатывать и реализовывать программы и проекты, направленные на-->
<!--              повышение личностного и профессионального роста женщин.-->
<!--            </li>-->
<!--            <li class="history-list-item">-->
<!--              Способствовать развитию женского start up движения в технологичных-->
<!--              отраслях и продвигать казахстанские проекты на международном-->
<!--              уровне.-->
<!--            </li>-->
<!--            <li class="history-list-item">-->
<!--              Мотивировать женщин реализовывать себя в цифровой экономике, а-->
<!--              также проводить информационно-разъяснительную работу для-->
<!--              продвижения девушек и женщин в науке и передовых отраслях.-->
<!--            </li>-->
<!--            <li class="history-list-item">-->
<!--              Создавать диалоговую площадку для достижения гендерного равенства-->
<!--              в науке и технологичных отраслях.-->
<!--            </li>-->
<!--            <li class="history-list-item">-->
<!--              Привлекать инвестиции в технологические индустрии и способствовать-->
<!--              масштабированию проектов женщин в Казахстане и зарубежом.-->
<!--            </li>-->
<!--          </ol>-->
        </div>
      </div>
    </section>
  </main>

  <%- include('../../partials/footer') %> <%- include('../../partials/foot') %>
</body>
