<div class="container">
  <nav class="header__nav">
    <div class="header__logo">
      <a href="/">
        <img
          class="header__img"
          src="/images/header_logo.png"
          alt="header_logo"
        />
      </a>
    </div>

    <div class="header__burger">
      <span></span>
    </div>

    <ul class="header__list">
      <li class="header__list-item">
        <span><%= __('H_about')%></span>
        <ul class="header__sublist">
          <li class="header__sublist-item"><a href="/history"><%= __('H_history')%></a></li>
          <li class="header__sublist-item">
            <a href="/mission"><%= __('H_mission')%></a>
          </li>
          <li class="header__sublist-item">
            <a href="/founders"><%= __('H_founders')%></a>
          </li>
        </ul>
      </li>

      <li class="header__list-item">
        <span><%= __('H_project')%></span>
        <ul class="header__sublist">
          <li class="header__sublist-item">
            <a href="/projects"><%= __('H_techno')%></a>
          </li>
          <li class="header__sublist-item">
            <a href="/support"><%= __('H_support')%></a>
          </li>
          <li class="header__sublist-item">
            <a href="/colobarators"><%= __('H_collaboration')%></a>
          </li>
        </ul>
      </li>
      <li class="header__list-item">
        <span><%= __('H_events')%></span>
        <ul class="header__sublist">
          <li class="header__sublist-item">
            <a href="/events"><%= __('H_forthcoming')%></a>
          </li>
          <li class="header__sublist-item">
            <a href="/archive"><%= __('H_archive')%></a>
          </li>
        </ul>
      </li>
      <li class="header__list-item">
        <span><%= __('H_communications')%></span>
        <ul class="header__sublist">
          <li class="header__sublist-item"><a href="/news">
              <%= __('H_news')%>
            </a></li>
          <li class="header__sublist-item">
            <a href="/gallery">  <%= __('H_gallery')%></a>
          </li>
        </ul>
      </li>
      <li class="header__list-item">
        <a href="/contact">
          <a href="/gallery">  <%= __('H_contacts')%></a>
        </a>
      </li>
      <li>
        <div class="language-selector">
          <label for="language-select"></label>
          <select id="language-select" name="language">
            <option value="ru">RU</option>
            <option value="ky">KG</option>
          </select>
        </div>
      </li>
    </ul>
  </nav>
</div>
