<head>
  <meta charset="UTF-8" />
  <meta
          name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta
          name="description"
          content="<%= SEO.description %>"
  />
  <meta
          name="keywords"
          content="<%= SEO.keywords %>"
  />
  <!--    Open graph -->
  <meta property="og:url" content="<%= SEO.canonicalURL %>" />
  <meta property="og:type" content="message/news" />
  <meta property="og:title" content="<%= SEO.title %>" />
  <meta
          property="og:description"
          content="<%= SEO.description %>"
  />
  <meta property="og:image" content="https://technowomen.kg/logo.svg" />

  <!--    Twitter -->
  <meta name="twitter:card" content="<%= SEO.image %>" />
  <meta property="twitter:domain" content="technowomen.kg" />
  <meta property="twitter:url" content="<%= SEO.canonicalURL %>" />
  <meta name="twitter:title" content="<%= SEO.title %>" />
  <meta
          name="twitter:description"
          content="<%= SEO.description %>"
  />
  <meta name="twitter:image" content="<%= SEO.image %>" />
  <title><%= SEO.title %></title>

  <%- include('../../partials/headMedia') %>
</head>

<body>
  <header class="header"><%- include('../../partials/header') %></header>

  <main class="main">
    <section class="new">
      <div class="container">
        <h2 class="new__title">Новости</h2>
        <div class="new__row">
          <div class="new__card-main">

            <img
              src="<%= data.domain %><%= data.topNewsOne.PreviewImage.url %>"
              alt="Preview Image"
            />
          </div>
          <div class="new__card-main">
            <h2 class="new__card-main-title"><%- data.topNewsOne.Title %></h2>
            <p class="new__card-main-desc"><%- data.topNewsOne.Description%></p>
          </div>

          <% data.rowedNews.forEach(item => { %>
          <div class="new__card">
            <img
              src="<%= data.domain %><%= item.PreviewImage.url %>"
              alt=""
              class="new__card-img"
            />
            <div>
              <p class="new__card-desc"><%- item.Description%></p>
              <p class="new__card-date"><%- item.Date %></p>
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </section>
  </main>

  <%- include('../../partials/footer') %> <%- include('../../partials/foot') %>
</body>
