<%- include('../../partials/head') %>

<body>
  <header class="header"><%- include('../../partials/header') %></header>

  <main class="main">
    <section class="new">
      <div class="container">
        <h2 class="new__title">Новости</h2>
        <div class="new__row">
          <div class="new__card-main">
            <%console.log(data)%>
            <img
              src="<%= data.domain %><%= data.topNewsOne.PreviewImage.url %>"
              alt="Preview Image"
            />
          </div>
          <div class="new__card-main">
            <h2 class="new__card-main-title"><%- data.topNewsOne.Title %></h2>
            <p class="new__card-main-desc"><%- data.topNewsOne.Description%></p>
          </div>

          <% data.rowedNews.forEach(item => { %>
          <div class="new__card">
            <img
              src="<%= data.domain %><%= item.PreviewImage.url %>"
              alt=""
              class="new__card-img"
            />
            <div>
              <p class="new__card-desc"><%- item.Description%></p>
              <p class="new__card-date"><%- item.Date %></p>
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </section>
  </main>

  <%- include('../../partials/footer') %> <%- include('../../partials/foot') %>
</body>
