<%- include('../../partials/head') %>

<body>
  <header class="header"><%- include('../../partials/header') %></header>

  <main>
    <section class="main__intro">
      <div class="container">
        <h1 class="main__title">
          TECHNO WOMEN KYRGYZSTAN
        </h1>
        <p class="main__text">Созидай. Удивляй. Верь в себя</p>
        <div class="main__box">
          <img class="main__logo" src="/images/girls.png" alt="girls_logo" />
          <div class="main__buttons">
            <button class="main__buttons-btn color-7">Стать TECHNOWOMEN</button>
          </div>
        </div>
      </div>
    </section>

    <section class="main__about">
      <div class="container">
        <div class="main__about-box1">
          <div class="main__about-box1-text">
            <h2>Techno Women</h2>
            <p>
              Некоммерческая организация "Techno Women" объединила женщин,
              работающих в технологических отраслях: IT, digital, telecom, new
              media, Fintech, Edutech, Healthtech, Biotech, Ecotech, Nanotech,
              Robotics, space и других высокотехнологичных отраслях.
            </p>
            <p>
              МИССИЯ Techno Women – ОТКРЫТЬ НОВЫЕ ВОЗМОЖНОСТИ ДЛЯ ВСЕХ ДЕВУШЕК И
              ЖЕНЩИН ВО ВСЕМ ЦИФРОВОМ МИРЕ
            </p>
            <p>
              Цель Techno Women – увеличить число девушек и женщин, работающих в
              технологических отраслях, способствовать развитию женского
              предпринимательства и формированию нового класса прогрессивных
              женщин в Центральной Азии.
            </p>
          </div>
          <img class="main__about-img" src="/images/team.png" alt="main-img" />
        </div>
      </div>

      <!-- <img class="main__about-pink" src="/images/pink.svg" alt="pinky"> -->
    </section>

    <section class="main__target">
      <div class="container">
        <div class="main__target-box1">
          <h2 class="main__target-title">
            НАЙДИТЕ СВОЕ МЕСТО В НОВОМ ЦИФРОВОМ МИРЕ СТАНЬ УЧАСТНИЦЕЙ
            TECHNOWOMEN
          </h2>
          <div class="main__target-buttons">
            <button class="main__target-buttons-btn">
              СТАТЬ УЧАСТНИЦЕЙ TECHNOWOMEN
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="info">
      <div class="container">
        <div class="info__cards">
          <div class="info__card">
            <h2 class="info__card-title">Наши ценности:</h2>
            <ul class="info__card-list">
              <li class="info__card-item">
                Доверие - как основа для взаимодействия
              </li>
              <li class="info__card-item">
                Гармоничное развитие всех участниц TECHNO WOMEN
              </li>
              <li class="info__card-item">
                Свобода быть самим собой, а не казаться “кем-то”
              </li>
              <li class="info__card-item">
                Свобода быть самим собой, а не казаться “кем-то”
              </li>
              <li class="info__card-item">
                Свобода быть самим собой, а не казаться “кем-то”
              </li>
            </ul>
          </div>
          <div class="info__card info__card_second">
            <h2 class="info__card-title">Задачи TECHNO WOMEN:</h2>
            <ul class="info__card-list">
              <li class="info__card-item">Развивать STEM сообщество женщин</li>
              <li class="info__card-item">
                Привлекать инвестиции в технологические идустрии
              </li>
              <li class="info__card-item">
                Привлекать инвестиции в технологические идустрии
              </li>
              <li class="info__card-item">
                Привлекать инвестиции в технологические идустрии
              </li>
              <li class="info__card-item">
                Привлекать инвестиции в технологические идустрии
              </li>
            </ul>
          </div>
          <div class="info__card">
            <h2 class="info__card-title">Что получают участницы:</h2>
            <ul class="info__card-list">
              <li class="info__card-item">Социальный каптиал</li>
              <li class="info__card-item">Социальный лифт</li>
              <li class="info__card-item">Счастье от самореализации</li>
            </ul>
          </div>
          <div class="info__card info__card_second">
            <h2 class="info__card-title">Какова ее миссия ?</h2>
            <ul class="info__card-list">
              <li class="info__card-item">Социальный каптиал</li>
              <li class="info__card-item">Социальный лифт</li>
              <li class="info__card-item">Счастье от самореализации</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="openTech">
      <div class="container">
        <div class="openTech__overlay">
          <h2 class="openTech__title">Открой TECHNO WOMEN в своем городе</h2>
          <button class="openTech__btn" type="button">Подробнее</button>
        </div>
      </div>

    </section>

    <section class="inNumbers">
      <div class="container">
        <h2 class="inNumbers__title">Мы в цифрах</h2>
        <div class="inNumbers__nums">
          <ul class="inNumbers__list">
            <li class="inNumbers__list-item">Количество участниц 8</li>
            <li class="inNumbers__list-item">Количество проектов 6</li>
            <li class="inNumbers__list-item">Охват проектами 10</li>
            <li class="inNumbers__list-item">
              Количество проведенных мероприятий 100
            </li>
          </ul>
        </div>

      </div>

      <div class="inNumbers__circle"></div>
      <img
        src="/images/inNumbers/left.svg"
        alt="notFound"
        class="inNumbers__leftSvg"
      />
      <img
        src="/images/inNumbers/right.svg"
        alt="notFound"
        class="inNumbers__rightSvg"
      />
      <img
        src="/images/inNumbers/leftImg.svg"
        alt="notFound"
        class="inNumbers__leftImg"
      />
    </section>

    <section class="founder">
      <h2 class="founder-title">Основатели Techno Women</h2>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% data.founders.data.FoundersList.forEach(item => {%>
          <div class="swiper-slide">
            <div class="founder-card">
              <img
                src="<%= domain %><%= item.Image.url %>"
                alt=""
                class="founder-card-img"
              />
              <h3 class="founder-card-title"><%- item.FullName %></h3>
              <div class="founder-card-info">
                <p class="founder-card-text">
                  <%- item.Description%>
                </p>
              </div>

            </div>
          </div>
          <%}) %>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>

    <section class="news">
      <div class="news__overlay">
        <h2 class="news__title">Меропрития и Новости</h2>
        <button class="news__btn" type="button">Подробнее</button>
      </div>
    </section>

    <section class="partners">
      <div class="container">
        <h2 class="partners__title">Партнеры</h2>
        <div class="partners__row">
          <img
            class="partners__img"
            src="/images/partners/parnters.png"
            alt="NotFound"
          />
          <img
            class="partners__img"
            src="/images/partners/parnters.png"
            alt="NotFound"
          />
          <img
            class="partners__img"
            src="/images/partners/parnters.png"
            alt="NotFound"
          />
        </div>
      </div>
    </section>

    <div class="overlay">
      <div class="popup">
        <span class="popup__close">x</span>
        <form class="contact__form" id="form-application">
          <label class="contact__form-fluid">
            <input name="Fullname" type="text" placeholder="ФИО" />
          </label>
          <label class="contact__form-fluid">
            <input name="Email" type="email" placeholder="Email" />
          </label>
          <label class="contact__form-fluid">
            <input id="tel" class="form-tel" name="Phone" type="tel" placeholder="Тел:" />
          </label>
          <button class="contact__form-btn" type="submit">
            Оставить заявку
          </button>
        </form>
      </div>
    </div>
  </main>

  <%- include('../../partials/footer') %>
  <script type="text/javascript">
    let overlay = document.querySelector('.overlay');
    let btn = document.querySelectorAll('.main__buttons-btn ');
    let close = document.querySelector('.popup__close');
    close.addEventListener('click', () => {
      overlay.style.display = 'none'
    })
    overlay.addEventListener('click', (e) => {
      if (e.target.className === 'overlay') {
        overlay.style.display = 'none'
      }
    })
    Array.from(btn).forEach((item) => {
      item.addEventListener('click', () => {
        overlay.style.display = 'flex';
      });
    });
  </script>
  <%- include('../../partials/foot') %>

</body>
