<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>


<main>
    <div class="container">
        <section class="nav">
            <form class="flexContainer" >
                <input class="flexContainer__input"
                       placeholder="Поиск мероприятий"
                       type="search"
                       minlength="5"
                       maxlength="30"
                />
                <button type="button" class="flexContainer__block-btn">Поиск мероприятия</button>
            </form>
        </section>
        <section class="calendar">
            <p class="calendar__today">Сегодня</p>
            <form class="calendar__block" id="events_form">
                <input name="date" type="date" class="calendar__input">
            </form>
        </section>
        <section class="content">

            <% if(!!data.response) { data.response.data.forEach((item) => {%>
                <h2><%- item.Title%></h2>
                <div class="content__block">
                    <p class="content__block-text">
                        <%- item.Description %>
                    </p>

                    <div class="content__block-card">
                        <img src="<%= data.domain %><%= item.Image.url %>" alt="events.png"/>
                    </div>
                </div>
                <div class="content__line"></div>
            <%})} else {%>
                    <div>НУ! Найдено</div>
                <%} %>%>
        </section>
    </div>


</main>
<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>