<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>


<main>
    <div class="container">
        <section class="nav">
            <form class="flexContainer" >
                <input class="flexContainer__input"
                       placeholder="Поиск мероприятий"
                       type="search"
                       minlength="5"
                       maxlength="30"
                />
                <button type="button" class="flexContainer__block-btn">Поиск</button>
            </form>
        </section>
        <section class="calendar">
            <p class="calendar__today">Сегодня</p>
            <form class="calendar__block" id="events_form">
                <input name="date" type="date" class="calendar__input">
            </form>
        </section>
        <section class="content">

            <% if(!!data.response) { data.response.data.forEach((item) => {%>
                <h2><%- item.Title%></h2>
                <div class="content__block">
                    <p class="content__block-text">
                        <%- item.Description %>
                    </p>

                    <div class="content__block-card">
                        <img src="<%= data.domain %><%= item.Image.url %>" alt="events.png"/>
                    </div>
                </div>
                <div class="content__line"></div>
            <%})} else {%>
                    <div class="content__empty">
                        В этот день не было мероприятий!
                        <span>
                            &#128561;
                        </span>
                    </div>
                <%} %>%>
        </section>
    </div>


</main>
<%- include('../../partials/footer') %>
<script type="text/javascript">
    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function eventsFilterSearch() {
        let eventForm = document.querySelector('#events_form');
        let eventCalendar = document.querySelector('.calendar__input');
        let eventCurrentDate = document.querySelector('.calendar__today');

        eventForm.addEventListener('submit', () => {
            new URLSearchParams(new FormData(eventForm)).toString();
        });
        eventCalendar.value = getParameterByName('date');
        eventCalendar.addEventListener('change', () => eventForm.submit());
    }


    eventsFilterSearch();

</script>
<%- include('../../partials/foot') %>