<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>


<main>
    <div class="container">
        <section class="nav">
            <form class="flexContainer">
                <input class="flexContainer__input"
                       placeholder="Поиск мероприятий"
                       type="search"
                       minlength="5"
                       maxlength="30"
                />
                <button type="button" class="flexContainer__block-btn">Поиск мероприятия</button>
            </form>
        </section>
        <section class="calendar">
            <p class="calendar__today">Сегодня</p>
            <form class="calendar__block">
                <input type="date" class="calendar__input">
            </form>
        </section>
        <section class="content">
            <% data.response.data.forEach((item) => {%>
                <div class="content__block">
                    <p class="content__block-text">
                        <%- item.Description %>
                    </p>

                    <img class="<% data.domain %><%= item.Image.url %>" alt="events.png"/>
                </div>
            <%}) %>


            <div class="content__line"></div>
        </section>
    </div>


</main>
<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>