<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>

<main class="main">
    <section class="gallery">
        <div class="container">
            <h2 class="new__title">
                Галлерея
            </h2>
            <div class="gallery__row">
                <% data.data.GalleryList.forEach(item => {%>
                    <div class="gallery__card">
                        <img src="<%= domain %><%= item.Image[0].url %>" alt="">
                        <p class="gallery__card-info">
                            <%- item.Title %>
                        </p>
                    </div>
                <%})%>
            </div>
        </div>
    </section>
</main>


<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>