<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
            name="description"
            content="<%= SEO.description %>"
    />
    <meta
            name="keywords"
            content="<%= SEO.keywords %>"
    />
<!--    Open graph -->
    <meta property="og:url" content="<%= SEO.canonicalURL %>" />
    <meta property="og:type" content="message/news" />
    <meta property="og:title" content="<%= SEO.title %>" />
    <meta
            property="og:description"
            content="<%= SEO.description %>"
    />
    <meta property="og:image" content="https://technowomen.kg/logo.svg" />

<!--    Twitter -->
    <meta name="twitter:card" content="<%= SEO.image %>" />
    <meta property="twitter:domain" content="technowomen.kg" />
    <meta property="twitter:url" content="<%= SEO.canonicalURL %>" />
    <meta name="twitter:title" content="<%= SEO.title %>" />
    <meta
            name="twitter:description"
            content="<%= SEO.description %>"
    />
    <meta name="twitter:image" content="<%= SEO.image %>" />
    <title><%= SEO.title %></title>

    <%- include('../../partials/headMedia') %>
</head>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>


<main>
    <section class="founder">
        <h2 class="founder-title">Учередители Techno Women</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <% data.data.FoundersList.forEach(item => {%>
                    <div class="swiper-slide">
                        <div class="founder-card">
                            <img src="<%= domain %><%= item.Image.url %>" alt="" class="founder-card-img">
                            <h3 class="founder-card-title"><%- item.FullName %></h3>
                            <p class="founder-card-text">
                                <%- item.Description.slice(0,100)%>
                            </p>
                        </div>
                    </div>
                <%}) %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
</main>

<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>