<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>

<main>
    <section class="mission">
        <div class="container">
            <h2 class="mission__title">
                Миссия, видение, цели и задачи <br>
                "Techno Women"
            </h2>
            <div class="mission__info">
                <h3 class="mission__info-title">
                    Миссия
                </h3>
                <div class="mission__info-block">
                    <%- data.data.Mission %>
                </div>
            </div>
            <div class="mission__info">
                <h3 class="mission__info-title">
                    Цель
                </h3>
                <div class="mission__info-block">
                    <%- data.data.Goal %>
                </div>
            </div>
            <div class="mission__info">
                <h3 class="mission__info-title">
                    Задачи
                </h3>
                <div class="mission__info-block">
                    <%- data.data.Objective %>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>